@media print {
    * {
        margin: 0;
        padding: 0;
    }
    .print-container {
        color: black;
        padding-top: 17mm;
    }
    @page .print-container {
        size: A4;
        margin: 20mm 20mm 15mm 20mm;
    }
    @page :first .print-container {
        size: A4;
        margin-top: 37mm;
    }
}


