* {
    margin: 0;
    padding: 0;
    font-family: Times New Roman, 'Times New Roman', Times, serif;
    font-size: 13pt;
}

table { page-break-inside: auto;}
tr    { page-break-inside: avoid; page-break-after: auto}
thead { display: table-header-group }
tfoot { display: table-footer-group }

.print-container {}

.research-header {
    display: flex;
    padding-top: 17mm;
}

.init-division-info {
    width: 55%;
}

.emblem-img {
    text-align: center;
}

.emblem-img > img {
    width: 33.6mm;
    height: 19.3mm;
}

.text-title-bold > p {
    font-weight: bold;
    text-align: center;
}

.text-title-bold > p {
    font-size: 11pt;
}

.text-bold {
    font-weight: bold;
    text-align: center;
}

.text-bold > p {
    font-size: 10pt;
}

.text {
    text-align: center;
}

.text > p {
    font-size: 11pt;
}


.hand-form {}

.hand-form > table {
    width: 100%;
    text-align: center;
    font-size: 11pt;
}

.line {
    border-bottom: 1px solid black;
}

.addressees {
    width: 45%;
    padding-top: 19.3mm;
    padding-left: 27mm;
}

.post-division {}

.rank-name {}

.research-plot {}

.plot-title {
    text-align: center;
    padding-top: 12.5mm;
    padding-bottom: 12.5mm;
}

.plot {
    display: flex;
    /*padding-bottom: 12.5mm;*/
    width: 100%;
}

.plot-event {
    width: 100%;
}

.qr-container {
    align-self: center;
}

.plot-qr {
    width: 40mm;
    height: 40mm;
}

.permission {}

.permission > p {
    text-indent: 12.5mm;
}

.annexes {}

.annexes > p {
    text-indent: 12.5mm;
}

.research-person {
    padding-top: 5mm;
}

.person-table {
    display: flex;
    page-break-inside: avoid;
}

.serial-number {
    align-self: center;
}

.person-info {
    width: 100%;
    align-self: center;
}

.serial-number {
    width: 10mm;
    font-size: 13pt;
    text-align: center;
}

.person-qr {
    align-self: center;
    width: 40mm;
    height: 40mm;
}

.person-info {}

.research-permission {
    padding-top: 15mm;
    page-break-inside: avoid;
}

.signatures {
    display: flex;
    width: 100%;
}

.signatures-initiator {
    width: 50%;
    text-align: left;
}

.signatures-initials {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-self: flex-end;
}

.initials {}

@media print {
    @page {
        size: A4;
    }
}
